<div class="markdown-settings-pane">
    <div class="description">
            Aether supports Markdown. All of the supported features of Markdown are given below, with a preview of how they will look on the page. The syntactical features other than ones provided here might work, but is not guaranteed to.
        </div>
    <div class="markdown-body">
        <div id="raw-container">
# This is a Markdown test.

Pitchfork Thundercats Godard slow-carb cardigan, synth umami mixtape viral locavore pickled food truck polaroid normcore brunch. Austin meggings Odd Future beard. Literally flexitarian mixtape, hashtag Helvetica yr fap iPhone brunch church-key skateboard wayfarers Thundercats blog VHS. High Life Etsy Helvetica hashtag squid PBR&B. Squid semiotics irony, quinoa Truffaut Godard YOLO tattooed Pitchfork Neutra keffiyeh Etsy Pinterest mustache. Pork belly bicycle rights locavore cray seitan fixie iPhone, semiotics scenester wolf kale chips Blue Bottle. Echo Park swag seitan, vegan Tumblr Thundercats keffiyeh VHS Austin Odd Future art party bespoke High Life literally.

## Put a bird on it

Odd Future Helvetica fashion axe wolf, Blue Bottle distillery Shoreditch cred Carles. Viral distillery wolf, crucifix skateboard 3 wolf moon seitan chia direct trade American Apparel hoodie bicycle rights. Mlkshk McSweeney's tousled, meggings small batch Portland cray art party craft beer dreamcatcher meh next level Vice distillery plaid.

### PBR jean shorts beard retro blog

Typewriter organic Banksy vegan kitsch, 3 wolf moon mlkshk Odd Future cornhole try-hard. Gastropub gluten-free Tumblr selvage roof party cornhole. Whatever viral flexitarian, fixie distillery flannel asymmetrical crucifix selfies banh mi tattooed four loko lo-fi Blue Bottle brunch.

### Normcore fixie blog cardigan, organic flexitarian occupy Pinterest bicycle rights crucifix selvage roof party tote bag iPhone asymmetrical.

Bitters Cosby sweater stumptown viral, squid Marfa Schlitz messenger bag paleo jean shorts trust fund typewriter pickled. Kickstarter leggings messenger bag, salvia pug semiotics fixie vinyl fingerstache cred McSweeney's. Echo Park sustainable deep v brunch tote bag. Kogi messenger bag yr, single-origin coffee twee aesthetic dreamcatcher meh McSweeney's mumblecore.

## Bitters Cosby sweater stumptown viral, squid Marfa Schlitz messenger bag paleo jean shorts trust fund typewriter pickled.

Keffiyeh scenester seitan whatever. Wolf quinoa street art art party. Echo Park food truck ethical direct trade, bicycle rights Williamsburg Banksy Godard +1 tousled chambray put a bird on it raw denim leggings. Stumptown street art vegan cliche. Vice forage literally flexitarian, banjo ugh High Life Austin semiotics Godard ethical Neutra roof party.

*  Bicycle rights flexitarian try-hard aesthetic typewriter, hashtag actually leggings. PBR&B single-origin coffee flexitarian jean shorts, Schlitz DIY swag.

* IPhone kale chips Tumblr, gentrify disrupt 8-bit synth meh street art banh mi flannel chillwave PBR.

* Fixie synth blog pop-up. Locavore YOLO mlkshk, bespoke raw denim Carles cred.

* Slow-carb cred PBR&B, letterpress tattooed

*  Skateboard retro pickled
*  Art party VHS chambray

Artisan bitters iPhone master cleanse you probably haven't heard of them pug cornhole meh McSweeney's, selfies shabby chic cred. Kitsch lomo banjo literally. Drinking vinegar PBR&B post-ironic sriracha.

- ethical crucifix.

- symmetrical mixtape.

- Ugh banjo.


# Syntactical Tests


This is a bare link:

http://www.example.com

This is a named link with http://

[Go to Example.com with http:// at the beginning](http://www.example.com)

## Italics and Bolds

*This is in italic*  and _so is this._

**This is in bold**  and __so is this.__

***This is bold and italic***  and ___so is this.___

## Block quotes

> Use the > character in front of a line, *just like in email*.
> Use it if you're quoting a person, a song or whatever.

> IPhone kale chips Tumblr, gentrify disrupt 8-bit synth meh street art banh mi flannel chillwave PBR. Fixie synth blog pop-up. Locavore YOLO mlkshk, bespoke raw denim Carles cred. Slow-carb cred PBR&B, letterpress tattooed you probably haven't heard of them pour-over. Skateboard retro pickled jean shorts brunch. Art party VHS chambray Schlitz 3 wolf moon. Tousled pour-over aesthetic polaroid cliche, next level ugh.

> You can use *italic* or lists inside them also.
And just like with other paragraphs,
all of these lines are still
part of the blockquote, even without the > character in front.

To end the blockquote, just put a blank line before the following paragraph.

## Preformatted Text

### Inline preformatted text

You can use backquotes to do the same thing while inside
a normal paragraph.  `This won't be *italic* or **bold** at all.`

### Block preformatted text

Put four spaces behind each line.

(SQLite source code, in public domain)

    /*
    ** Close a tokenization cursor previously opened by a call to icuOpen().
    */
    static int icuClose(sqlite3_tokenizer_cursor *pCursor){
    IcuCursor *pCsr = (IcuCursor *)pCursor;
    ubrk_close(pCsr->pIter);
    sqlite3_free(pCsr->zBuffer);
    sqlite3_free(pCsr);
    return SQLITE_OK;
    }

## Horizontal rules

Slow-carb cred PBR&B, letterpress tattooed you probably haven't heard of them pour-over. Skateboard retro pickled jean shorts brunch. Art party VHS chambray Schlitz 3 wolf moon. Tousled pour-over aesthetic polaroid cliche, next level ugh.

- - -

Lomo Godard hashtag pickled cray butcher. Disrupt gluten-free pork belly cornhole. Schlitz messenger bag jean shorts, twee XOXO dreamcatcher put a bird on it DIY. Seitan quinoa Banksy umami dreamcatcher Truffaut. Mixtape pop-up small batch freegan, Truffaut selvage normcore authentic messenger bag Vice artisan Shoreditch DIY. Godard Pitchfork plaid, wolf Cosby sweater disrupt shabby chic typewriter. Bicycle rights plaid Truffaut, actually Helvetica heirloom artisan seitan authentic PBR quinoa messenger bag Bushwick photo booth vinyl.

- - -

Organic wayfarers Etsy, chambray narwhal gluten-free plaid Schlitz pour-over synth iPhone yr single-origin coffee cardigan. Meggings single-origin coffee pork belly, cray keytar skateboard Thundercats semiotics mustache chia salvia Banksy McSweeney's paleo. Jean shorts irony letterpress Intelligentsia farm-to-table, keffiyeh Tonx distillery photo booth aesthetic. Raw denim ethical YOLO, kale chips Echo Park Carles narwhal High Life twee trust fund scenester. Typewriter hashtag lo-fi, before they sold out pug iPhone pork belly tattooed. Freegan DIY banjo, ugh viral jean shorts Thundercats fixie lo-fi cardigan semiotics kitsch tattooed literally YOLO. Authentic flexitarian Shoreditch, drinking vinegar ennui keffiyeh photo booth vegan Schlitz Pinterest Williamsburg squid Intelligentsia typewriter four loko.

        </div>
        <div id="markdown-container" ng-bind-html="mdResult">
        </div>
    </div>
</div>