<div id="unregistered-user-profile" ng-controller="UnregisteredUserProfileController">
     <div class="subject-intro-box">
        <span id="subject-header">Your Profile</span>
    </div>
    <div class="identity-pane">
        <div class="left-column">
            <div class="settings-h2">
                Username
            </div>
            <input class="username-entry" maxlength="25" ng-model="userProfile.userDetails.username">
            </input>
            <div class="settings-text">
                <p>Hello <i>{{ userProfile.userDetails.username }}!</i></p>
                <p>You're an <b>unregistered user</b>, which means you are anonymous. There is no registration.</p>
                <p>You can pick any name you want. You can also change it any time. <b>Names are not unique</b>, someone else can take the same name as you.</p>
                <p>There can be 1, 5, 50, 500 or 50.000 people with the same name. There is no way to know if you are still talking to the same person. </p>
                <p>You cannot edit or delete what you write, and it only goes away after 6 months. </p>
            </div>
        </div>
        <div class="right-column">
            <div class="settings-h2">
                Posts with this name
            </div>
            <div ng-repeat="post in feed"
            ng-include="decideNgInclude(post.Subject)">
            </div>
            <div class="no-posts-with-name" ng-hide="feed.length">This name doesn't seem to have been used on any posts so far.</div>
            <div class="settings-ok-button" id="advanced-ok-button" ng-click="showMore()" ng-show="feed.length">SHOW MORE</div>
        </div>
    </div>


</div>
